﻿@model IEnumerable<Model.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h1>Create New</h1>
    <form method="post" action="@Url.Action("Create","Contact")">
        <label for="Name">Name</label>
        <input type="text" name="Name" required />
        <label for="Number">Number</label>
        <input type="tel" name="Number" required />
        <label for="Email">Email</label>
        <input type="email" name="Email" />
        <input type="hidden" name="GroupConact[0].Group.IdGroup" value="@((int)ViewData["group"])" />
        <input id="toSubmit" type="hidden" name="CustonField" />
        <button type="submit">Send</button>
    </form>    
    <div>
        <div id="showCustom">
        </div>
        <div>
            <label>Name Custon Value</label>
            <input id="key" type="text" />
            <label>Value of Custon Value</label>
            <input id="v" type="text" />
            <button onclick="add()">Add Custon value</button>
        </div>
    </div>
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustonField)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustonField)
                </td>
                <td>
                    <button class="openModal" id="modal-@item.IdContact" onclick="openModal(@item.IdContact)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@foreach (var item in Model)
{
    <div id="edit-@item.IdContact" class="modal" style="display:none">
        <div class="modal-content">
            <button onclick="close(@item.IdContact)">Close</button>
            <form method="post" action="@Url.Action("Update","Contact")">
                <input type="hidden" name="IdContact" value="@item.IdContact" />
                <label for="Name">Name</label>
                <input type="text" name="Name" required value="@item.Name" />
                <label for="Number">Number</label>
                <input type="tel" name="Number" value="@item.Number" required />
                <label for="Email">Email</label>
                <input type="email" name="Email" value="@item.Email" />
                <input type="hidden" name="GroupConact[0].Group.IdGroup" value="@((int)ViewData["group"])" />
                <input id="toSubmit" type="hidden" value="@item.CustonField" name="CustonField" />
                <button type="submit">Send</button>
            </form>
            <div>
                <div id="showCustom">
                    @item.CustonField
                </div>
                <div>
                    <label>Name Custon Value</label>
                    <input id="key" type="text" />
                    <label>Value of Custon Value</label>
                    <input id="v" type="text" />
                    <button onclick="add()">Add</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function openModal(id) {
        var modal = document.getElementById("edit-" + id);
        modal.style.display = "block";
    }
    function close(id) {
        var modal = document.getElementById("edit-" + id);
        modal.style.display = "none";
    }
    function add() {
        var key = document.getElementById("key");
        var keyV = document.getElementById("v");
        var adder = document.getElementById("showCustom");
        var node = document.createElement("p");
        var textnode = document.createTextNode(key.value + ":" + keyV.value);
        node.appendChild(textnode);
        adder.appendChild(node);
        document.getElementById("toSubmit").value = document.getElementById("toSubmit").value + ";" + key.value + ":" + keyV.value;
        key.value = "";
        keyV.value = "";
        return false;
    }
</script>
