﻿@model IEnumerable<Model.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h1>Create New</h1>
    <form method="post" action="@Url.Action("Create","Group")">
        <label for="Name">Name</label>
        <input type="text" name="Name" required />
        <input type="text" name="Description" />
        <button type="submit">Send</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGroup )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Index","Contact",new {id=item.IdGroup })">View</a>
                    <button class="openModal" id="modal-@item.IdGroup" onclick="openModal(@item.IdGroup)">Edit</button>                    
                </td>
            </tr>
        }
    </tbody>
</table>
@foreach (var item in Model)
{
    <div id="edit-@item.IdGroup" class="modal" style="display:none">
        <div class="modal-content">
            <h1>Group edit</h1>
            <button onclick="close(@item.IdGroup)">Close</button>
            <form action="@Url.Action("Update", "Group")" method="post">
                <input type="hidden" name="IdGroup" value="@item.IdGroup" />
                <label for="Name">Name</label>
                <input name="Name" type="text" value="@item.Name" />
                <label for="Task">Description</label>
                <textarea name="Description">@item.Description</textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
}
<script>function openModal(id) {
        var modal = document.getElementById("edit-" + id);
        modal.style.display = "block";
    }
    function close(id) {
        var modal = document.getElementById("edit-" + id);
        modal.style.display = "none";
    }</script>
